.admindashboard-addproduct-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.admindashboard-addproduct-card {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.admindashboard-card-header {
  display: flex;
  margin-bottom: 12px;
  justify-content: space-between;
  align-items: center;
}

.admindashboard-header-actions {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: #007bff;
}

.admindashboard-add-icon {
  font-size: 14px;
}

.admindashboard-card-subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.admindashboard-product-info {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.admindashboard-product-image {
  width: 50px;
  height: 50px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admindashboard-product-name {
  font-size: 14px;
  margin: 0;
}
.admindashboard-product-price {
  font-size: 13px;
  color: #666;
}
