.create-password-container {
  background-color: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.create-password-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 20px;
}

.input-group > span:hover {
  outline: none;
  border: 1px solid #d9d9d9;
}

.input-group > span:focus-within {
  outline: none !important;
  border: 2px solid #8864f0 !important;
  background-color: #f0f8ff !important;
  box-shadow: 0 0 5px rgba(136, 100, 240, 0.5) !important;
}

.input-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.password-input {
  width: 100%;
}

.password-rules {
  margin-top: 10px;
  margin-bottom: 20px;
}

.rule {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 8px;
}

.rule-icon {
  margin-right: 8px;
  font-size: 16px;
}

.pass {
  color: green;
}

.fail {
  color: red;
}

.submit-btn {
  height: 40px;
  font-weight: 500;
}

@media (min-width: 640px) {
  .create-password-container {
    max-width: 550px;
  }
}
